<header>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <div>                
                <a class="container-fluid__logo" routerLink="/public/home">
                    <img src="assets/img/img_logo/img_logo.png" alt="logo central copa pistão">
                </a>
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="/assets/img/img_navbar/img_menu_hamburguer.png" alt="">
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item mb-3 mb-sm-0">
                        <a class="nav-link home" routerLink="/public/home" routerLinkActive="active-home">Home</a>
                    </li>

                    <li class="nav-item mb-3 mb-sm-0">
                        <a class="nav-link login" routerLink="/public/login" routerLinkActive="active-login"><i class="bi bi-box-arrow-in-right me-1"></i> Entrar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link register" routerLink="/public/register" routerLinkActive="active-register"><i class="bi bi-person-plus me-1"></i> Criar Conta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>