<div class="container-fluid">
    <div class="container-fluid__header">
        <a routerLink="/competitor/available-cups"><i class="bi bi-arrow-left"></i> Voltar</a>

        <h1>{{ copa.nomeCopa }}</h1>

        <div class="container-fluid__data-status">
            <p>
                <i class="bi bi-calendar3 me-1"></i>
                <time>{{ copa.dataInicio | date: 'dd/MM/yyyy' }}</time> a
                <time>{{ copa.dataTermino | date: 'dd/MM/yyyy' }}</time>
            </p>

            <span [ngClass]="copaStatusEstilos[copa.status]">{{ copaStatusNomes[copa.status] }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xxl-6 mb-3">
            <section class="section-cards">
                <div class="section-cards__borda-topo"></div>

                <!-- Section cards dados copa -->
                <div class="section-cards__dados-copa">
                    <h2 class="mt-2">Sobre a Copa</h2>

                    <p>{{ copa.descricao }}</p>


                    <h3 class="section-cards__dados-copa-h3">Pré-requisitos</h3>

                    <!-- Section visão rápida article -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <article class="section-visao__article mb-3">
                                <h3>Mínimo de Participantes</h3>
                                <p>{{ copa.preRequisito.minimoIntegrantes }}</p>
                            </article>
                        </div>

                        <div class="col-12 col-md-6">
                            <article class="section-visao__article mb-3">
                                <h3>Pontuação Mínima</h3>
                                <p>{{ copa.preRequisito.pontuacaoMinima }}</p>
                            </article>
                        </div>
                    </div>

                    <h3 class="section-cards__dados-copa-h3 mt-2 mb-2">Tabela Oficial de Pontos</h3>

                    <p>
                        Pontuação fixa e transparente. A tabela abaixo mostra quantos pontos cada colocação vale nesta
                        copa.
                    </p>

                    <!-- Tabela -->
                    <table class="table">
                        <thead class="table__thead align-middle text-center">
                            <tr>
                                <th scope="col">Colocação</th>
                                <th scope="col">Pontos</th>
                                <th scope="col">Pontos Adicionais</th>
                            </tr>
                        </thead>

                        <tbody class="table__body align-middle text-center">
                            <tr>
                                <td>1º</td>
                                <td>150</td>
                                <td>+{{ copa.pontosAdicionais.primeiroLugar }}</td>
                            </tr>

                            <tr>
                                <td>2º</td>
                                <td>145</td>
                                <td>+{{ copa.pontosAdicionais.segundoLugar }}</td>
                            </tr>

                            <tr>
                                <td>3º</td>
                                <td>140</td>
                                <td>+{{ copa.pontosAdicionais.terceiroLugar }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </section>
        </div>

        <div class="col-12 col-xxl-6 mb-3">
            <section class="section-cards">
                <div class="section-cards__borda-topo"></div>

                <!-- Section cards matrícula -->
                <div class="section-cards__matricula">

                    <div class="section-cards__data-status">
                        <h2 class="mt-2">Matrícula</h2>

                        @let inscricao = mensagemInscricao();
                        <span [class]="inscricao.classe">
                            <i [class]="inscricao.icon"></i> {{ inscricao.texto }}
                        </span>
                    </div>

                    <article class="section-cards__article mt-3 mb-4">
                        <h3>Equipe</h3>
                        <p>{{ equipe.nomeEquipe }}</p>

                        <ul class="section-cards__ul">
                            @if (equipe; as e) {
                            <li>
                                Mínimo de {{ copa.preRequisito.minimoIntegrantes }} integrantes
                                @let a = requisitos(e.qtdeIntegrantes >= copa.preRequisito.minimoIntegrantes);
                                <span [class]="a.classe">
                                    <i [class]="a.icon"></i> {{ a.texto }}
                                </span>
                            </li>

                            <li>
                                Pontuação Mínima: {{ copa.preRequisito.pontuacaoMinima }} pts
                                @let b = requisitos(e.pontuacaoTotal >= copa.preRequisito.pontuacaoMinima);
                                <span [class]="b.classe">
                                    <i [class]="b.icon"></i> {{ b.texto }}
                                </span>
                            </li>

                            <li>
                                Equipe Ativa
                                @let c = requisitos(e.status === 'ativo');
                                <span [class]="c.classe">
                                    <i [class]="c.icon"></i> {{ c.texto }}
                                </span>
                            </li>
                            }
                        </ul>
                    </article>
                </div>

                <div class="section-cards__buttom">
                    
                    <button 
                    class="btn section-cards__btn-inscrever" 
                    [disabled]="inscricaoRealizada || 
                    copa.status !== 'inscricoesAbertas' ||
                    !statusInscricao()" 
                    (click)="fazerInscricao()">
                        
                        @if (inscricaoRealizada) {
                            <i class="bi bi-check-circle"></i> Inscrito
                        }

                        @else {
                            <i class="bi bi-flag"></i> Inscrever
                        }
                    </button>
                </div>
            </section>
        </div>
    </div>

</div>