<div class="container">
    <div class="col-12">
        <section class="section-modal">
            <div class="section-modal__borda-topo"></div>

            <!-- Section cards matrícula -->
            <div class="section-modal__matricula">

                <div class="section-modal__data-status">
                    <h2 class="mt-2">Matrícula</h2>

                    @let inscricao = mensagemInscricao();
                    <span [class]="inscricao.classe">
                        <i [class]="inscricao.icon"></i> {{ inscricao.texto }}
                    </span>
                </div>

                <article class="section-modal__article mt-2 mb-4">
                    <h3>Equipe</h3>
                    <p>Relâmpago Marquinhos</p>

                    <ul class="section-modal__ul">
                        @if (equipe; as e) {
                            <li>
                                Mínimo de {{ copa.preRequisito.minimoIntegrantes }} integrantes
                                @let a = requisitos(e.qtdeIntegrantes >= copa.preRequisito.minimoIntegrantes);
                                <span [class]="a.classe">
                                    <i [class]="a.icon"></i> {{ a.texto }}
                                </span>
                            </li>
    
                            <li>
                                Pontuação Mínima: {{ copa.preRequisito.pontuacaoMinima }} pts
                                @let b = requisitos(e.pontuacaoTotal >= copa.preRequisito.pontuacaoMinima);
                                <span [class]="b.classe">
                                    <i [class]="b.icon"></i> {{ b.texto }}
                                </span>
                            </li>
    
                            <li>
                                Equipe Ativa
                                @let c = requisitos(e.status === 'ativo');
                                <span [class]="c.classe">
                                    <i [class]="c.icon"></i> {{ c.texto }}
                                </span>
                            </li>
                        }
                    </ul>
                </article>
            </div>

            <div class="section-modal__buttom">
                @let d = statusInscricao();
                <button class="btn section-modal__btn-inscrever" [disabled]="!d" (click)="fazerInscricao()"><i class="bi bi-flag"></i> Inscrever</button>
                <button class="btn section-modal__btn-cancelar" (click)="cancelar()"><i class="bi bi-x-circle"></i>
                    Cancelar</button>
            </div>
        </section>
    </div>
</div>