.container-fluid {
  margin-top: 60px;
}

.container-fluid h1,
.container-fluid h2 {
  color: #0F172A;
  font-weight: bold;
}

.container-fluid p {
  color: rgba(15, 23, 42, .7);
}

.container-fluid__header p {
  margin-bottom: 12px;
}

.container-fluid__header a {
  color: #0F172A;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.container-fluid__header a:hover {
  text-decoration: underline;
}

@media (width >=768px) {
  .container-fluid {
    max-width: 1100px;
  }

  .container-fluid__header {
    margin: unset;
  }

  .container-fluid__data-status {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

@media (width >=992px) {
  .container-fluid {
    margin-top: 0;
  }
}

/* @media (width >=1400px) {
  .container-fluid {
    max-width: 1100px;
  }
} */

.section-resultado {
  background-color: #fff;
  border: 1px solid rgba(15, 23, 42, .2);
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .15);
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

.section-resultado__borda-topo {
  background: linear-gradient(90deg, #E01E37, #FFD000, #7FD7FF);
  height: 5px;
  border-radius: 12px 12px 0 0;
}

.section-resultado__procura-copa {
  background-color: rgba(49, 165, 231, .1);
  outline: 1px solid rgba(49, 165, 231, .22);
  border-radius: 12px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  color: #0F172A;
  
}

.section-resultado__procura-copa select {
  /* outline: none; */
  background-color: transparent;
  border: none;
  color: #0F172A;
  font-weight: 500;
}

.section-resultado__procura-copa select:focus-visible {
  box-shadow: none;
}

.section-resultado__informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-right: 1px solid red; */
}

.section-resultado__img-fluid {
  width: 170px;
}

.section-resultado__titulo {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-resultado__titulo p {
  background-color: rgba(255, 208, 0, .14);
  border: 1px solid rgba(246, 192, 27, .2);
  color: #78350F;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 12px;
  max-width: 200px;
}

.section-resultado__datas {
  /* outline: 1px solid red; */
  padding: 0;
}

.section-resultado__datas p {
  /* outline: 1px solid red; */
  /* color: white; */
  font-size: 1.1rem;
}

.section-resultado__datas p:last-child {
  margin: 0;
}

@media (width >=576px) {
  .section-resultado__cabecalho {
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
  }

  .section-resultado__informacoes {
    /* outline: 1px solid black; */
    display: flex;
    flex-direction: row;
  }

  .section-resultado__titulo {
    align-items: start;
  }
}

@media (width >=1400px) {
  .section-resultado__datas p {
    /* outline: 1px solid red; */
    /* color: white; */
    font-size: 1.2rem;
  }
}

/* .row {
  outline: 1px solid #0F172A;
}

.section-table {
  outline: 1px solid green;
} */

.table {
  margin: 0;
}

.table__esconde-no-mobile {
  display: none;
}

.section-table__dados-copa-h3 {
  background-color: rgba(255, 208, 0, .22);
  border: 1px solid #F6C01B;
  color: #78350F;
  font-weight: bold;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.section-table p {
  font-size: 1.1rem;
}

.table__td-select select {
  background-color: rgba(49, 165, 231, .05);
  border: 1px solid rgba(49, 165, 231, .3);
  border-radius: 16px;
  /* outline: 1px solid red; */
}

.table_td-pontos span {
  background-color: rgba(49, 165, 231, .05);
  border: 1px solid rgba(49, 165, 231, .3);
  border-radius: 16px;
  /* padding: 12px; */
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid red; */
}

.table__detalhes-td {
  border: none;
}

.btn-seta-detalhes {
  transition: .2s;
}

.btn-seta-detalhes:focus {
  border: none;
  /* outline: none; */
}

.btn-seta-detalhes[aria-expanded="true"] {
  transform: rotate(180deg);
}

.table__detalhes {
  /* outline: 1px solid red; */
  /* display: flex;
  flex-direction: column;
  align-items: start; */
  /* gap: 12px; */
  padding: 12px;
  text-align: start;
  background-color: rgba(49, 165, 231, .05);
  border: 1px solid rgba(49, 165, 231, .5);
  border-radius: 12px;
  transition: 0.1s;
}

.table__detalhes p {
  color: #0F172A;
  font-size: 1.2rem;
  margin: 0;
}

.table__detalhes span {
  font-weight: 500;
}

.table__situacao-ok,
.table__situacao-pendente {
  border-radius: 12px;
  display: inline-block;
  padding: 4px 12px;
  font-weight: 500;
}

.table__situacao-ok {
  background-color: rgba(22, 163, 74, .16);
  border: 1px solid #1cdb62;
  color: #15803D;
}

.table__situacao-pendente {
  background-color: rgba(246, 192, 27, .2);
  border: 1px solid #F6C01B;
}

.section-table__dados-preenchidos {
  /* outline: 1px solid red; */
  text-align: end;
  font-weight: 500;
  /* font-size: 1.2rem; */
}

.btn-salvar button {
  background-color: rgba(49, 165, 231, .2);
  border: 1px solid #31A5E7;
  color: #0F172A;
  font-weight: bold;
  border-radius: 12px;
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-salvar button:hover,
.btn-salvar button:focus-visible {
  background-color: rgba(49, 165, 231, .30);
  border-color: rgba(49, 165, 231, .75);
  box-shadow: 0 8px 18px rgba(49, 165, 231, .18);
}

.section-table__container-footer {
  /* outline: 1px solid red; */
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  gap: 16px;
  /* outline: 1px solid red; */
}

.paginacao-nav {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination {
  margin: 0;
}

@media (width >=576px) {
  .section-table__dados-preenchidos {
    font-size: 1.2rem;
  }

  .btn-salvar {
    display: flex;
    justify-content: center;
  }

  .btn-salvar button {
    width: 80%;
  }
}

@media (width >=768px) {
  .table__esconde-no-mobile {
    display: table-cell;
  }

  .table__esconde-no-desktop {
    display: none;
  }

  .table__situacao-ok,
  .table__situacao-pendente {
    width: 120px;
  }

  /* .section-table__container-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } */

  .btn-salvar button {
    font-size: 1.3rem;
    height: 44px;
  }
}



/* .section-resultado > h2 {
  color: #0F172A;
  font-weight: bold;
} */

/* .section-resultado > p {
  color: rgba(15, 23, 42, .7);
} */

/* .section-resultado__etapa {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section-resultado__etapa p {
  margin: 0;
  color: #0F172A;
  font-weight: 500;
}

.section-resultado__etapa span {
  background-color: rgba(255, 208, 0, .22);
  border: 1px solid #F6C01B;
  color: #78350F;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 12px;
} */

/* .form-cadastrar label {
  color: #0F172A;
  font-size: 1.2rem;
}

.form-cadastrar input,
.form-cadastrar select {
  color: #0F172A;
  font-size: 1.1rem;
  background-color: rgba(49, 165, 231, .02);
  border: 1px solid rgba(49, 165, 231, .22);
  box-shadow: 0 4px 4px 0 rgba(49, 165, 231, .25);
  height: 50px;
  border-radius: 12px;
}

.form-cadastrar textarea {
  color: #0F172A;
  font-size: 1.1rem;
  background-color: rgba(49, 165, 231, .02);
  border: 1px solid rgba(49, 165, 231, .22);
  box-shadow: 0 4px 4px 0 rgba(49, 165, 231, .25);
  border-radius: 12px;
}

.form-cadastrar input:focus-visible,
.form-cadastrar select:focus-visible,
.form-cadastrar textarea:focus-visible {
  border-color: rgba(49, 165, 231, .55);
  background-color: rgba(49, 165, 231, .08);
  box-shadow: 0 6px 14px rgba(49, 165, 231, .2);
}

.form-cadastrar input::placeholder {
  color: rgba(15, 23, 42, .4);
}

.form-cadastrar .campo-logo-copa {
    display: flex;
    flex-direction: column;
}

.form-cadastrar .logo-copa {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.form-cadastrar .label-selecionar-imagem {
    font-size: 1.2rem;
    background-color: rgba(49, 165, 231, .4);
    border: 1px solid #31A5E7;
    color: #0F172A;
    font-weight: bold;
    border-radius: 12px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    width: 100%;
    height: 50px;
}

.form-cadastrar .label-selecionar-imagem:hover {
    background-color: rgba(49, 165, 231, .75);
    border-color: rgba(49, 165, 231, .55);
    box-shadow: 0 8px 18px rgba(49, 165, 231, .18);
}

.form-cadastrar__primeiro-lugar {
  color: #FFD000;
}

.form-cadastrar__segundo-lugar {
  color: #8B97A6;
}

.form-cadastrar__terceiro-lugar {
  color: #CD7F32;
}


.btn {
  background-color: #E10811;
  border: 1px solid rgba(0, 0, 0, .6);
  color: #ffff;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  transition: 0.2s;
  border-radius: 12px;
}

.btn:hover,
.btn:focus-visible {
  background-color: #E11D2E;
    border: 1px solid rgba(0, 0, 0, .6);
    box-shadow: 0 5px 10px 0 rgba(225, 29, 46, .3);
}

@media (width >=768px) {
  .form-cadastrar label {
    font-size: 1.3rem;
  }

  .bi-trash {
    font-size: 1.3rem;
  }

  .section-resultado__adicionar-participante {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .btn-adicionar-participante {
    font-size: 1.2rem;
    margin-top: 0;
  }
}

@media (width >=992px) {
  .btn-atualizar {
    text-align: center;
  }

  .btn {
    width: 70%;
  }
} */