<div class="container">
    <div class="row">
        <div class="col-12">
            <section class="section-form mt-4 mb-4">
                <div class="section-form__borda-topo mb-3"></div>

                <h2>Cadastro</h2>
                <p>Faça o cadastro de sua equipe e comece a competir</p>

                <div class="section-form__etapa mb-3">
                    <span>1ª Etapa</span>
                    <p>Dados do Usuário</p>
                </div>

                <form class="form-cadastrar">
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                            <label for="nome" class="form-label">Nome*</label>
                            <input type="text" class="form-control" id="nome" name="nome"
                                placeholder="Mate, igual tomate">
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="email" class="form-label">E-mail*</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="nome@exemplo.com" autocomplete="username">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                            <label for="senha" class="form-label">Senha*</label>
                            <input type="password" class="form-control" id="senha" name="senha" placeholder="......"
                                autocomplete="new-password">
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="confirmarSenha" class="form-label">Confirmar Senha*</label>
                            <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha"
                                placeholder="......" autocomplete="new-password">
                        </div>
                    </div>

                    <div class="section-form__etapa mt-4 mb-3">
                        <span>2ª Etapa</span>
                        <p>Dados da Equipe</p>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5 mb-3 mb-md-0">
                            <label for="nomeEquipe" class="form-label">Nome da Equipe*</label>
                            <input type="text" class="form-control" id="nomeEquipe" name="nomeEquipe"
                                placeholder="Ex: Catchau do relâmpago">
                        </div>

                        <div class="col-12 col-md-3 mb-3 mb-md-0">
                            <label for="senha" class="form-label">Categoria*</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected disabled>Selecione...</option>
                                <option value="rua">Rua</option>
                                <option value="rally">Rally</option>
                                <option value="pista">Pista</option>
                            </select>
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="qtdeIntegrantes" class="form-label">Qtde de Integrantes*</label>
                            <input type="number" class="form-control" id="qtdeIntegrantes" name="qtdeIntegrantes"
                                placeholder="Ex: 2" min="2">
                        </div>
                    </div>

                    <div class="section-form__adicionar-participante mt-4 mb-3">
                        <div class="section-form__etapa">
                            <span>3ª Etapa</span>
                            <p>Participantes</p>
                        </div>

                        <button class="btn-adicionar-participante"><i class="bi bi-plus-circle"></i> Adicionar
                            Participante</button>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 mb-3 mb-md-0">
                            <label for="participante1" class="form-label">Participante #1</label> 
                            
                            <i class="bi bi-trash ms-2"></i>
                            
                            <input type="text" class="form-control" id="participante1" name="participante1"
                                placeholder="Ex: Catchau do relâmpago">
                        </div>

                        <div class="col-12 col-md-4 mb-3 mb-md-0">
                            <label for="participante2" class="form-label">Participante #2</label>
                            
                            <i class="bi bi-trash ms-2"></i>
                            
                            <input type="text" class="form-control" id="participante2" name="participante2"
                                placeholder="Ex: Catchau do relâmpago">
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="participante3" class="form-label">Participante #3</label> 
                            
                            <i class="bi bi-trash ms-2"></i>
                            
                            <input type="text" class="form-control" id="participante3" name="participante3"
                                placeholder="Ex: Catchau do relâmpago">
                        </div>
                    </div>

                    <div class="btn-criar-conta">                        
                        <button class="btn mt-4 mb-2"><i class="bi bi-person-fill-add"></i> Criar Conta</button>
                    </div>

                    <div class="text-center">
                        <p>
                            Já possui cadastro?
                            <a class="form-cadastrar__link" routerLink="/login">Clique aqui</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>