:host {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    background-color: #E9EEF3;
    display: flex;
    flex-direction: column;
}

@media (width >= 992px) {
    .main-content {
        margin-left: 250px;
        padding: 20px;
    }
}