.menu-hamburguer {
    /* outline: 1px solid red; */
    position: fixed;
    right: 8px;
    top: 8px;
    border: none;
    background-color: rgba(49, 165, 231, .1);
    border-radius: 100px;
    backdrop-filter: blur(10px);
}

.menu-hamburguer:active {
    background-color: rgba(49, 165, 231, .22);
    outline: 1px solid rgba(49, 165, 231, .55);
}

.menu-hamburguer img {
    width: 50px;
}

.menu-lateral {
    /* display: grid; */
    height: 100vh;
    position: fixed;
    /* outline: 1px solid red; */
    width: 250px;
    overflow-y: auto;
    background-color: #111827;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: 0.2s;
    z-index: 1;
}

.menu-lateral__aberto {
    transform: translateX(0);
}

@media (width >=992px) {
    .menu-hamburguer {
        display: none;
    }

    .menu-lateral {
        transform: translateX(0);
    }
}

.menu-lateral__figure {
    text-align: center;
    /* margin: 0; */
    /* padding: 0 12px; */
}

.menu-lateral__figure figure {
    margin: 0;
    /* padding-bottom: 12px; */
    /* border-bottom: 1px solid #D6A616; */
}

.menu-lateral__figure img {
    width: 150px;
}

.menu-lateral__divisao {
    border-bottom: 1px solid #D6A616;
    width: 226px;
    margin: 16px auto;
    /* height: 0; */
}

.menu-lateral__equipe {
    /* outline: 1px solid red; */
    padding: 0 12px;
}

.menu-lateral__article {
    border: 1px solid rgba(49, 165, 231, .28);
    border-radius: 16px;
    box-shadow: 2px 2px 5px 0 rgba(173, 225, 255, .2);
    padding: 12px;
}

.menu-lateral__article h3 {
    /* outline: 1px solid red; */
    color: #fff;
    font-size: 1.5rem;
}

.menu-lateral__article p {
    /* outline: 1px solid red; */
    color: rgba(255, 255, 255, .7);
}

.menu-lateral__span-ativo,
.menu-lateral__span-inativo {
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 8px;
}

.menu-lateral__span-ativo {
    background-color: #16A34A;
    border: 1px solid #15803D;
}

.menu-lateral__span-inativo {
    background-color: #E10811;
    border: 1px solid rgba(0, 0, 0, .6);
}

.menu-lateral__span-pontuacao {
    background-color: #FFD000;
    border: 1px solid #F6C01B;
    color: #78350F;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 8px;
}

.menu-lateral__navegacao {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: flex-end;
}

.menu-lateral__divisao-container {
    /* outline: 1px solid red; */
    /* padding: 0 12px;
    height: 0; */
}

.menu-lateral__ul {
    list-style: none;
    /* padding: 12px 0 0; */
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* .menu-lateral__ul li {
}    */

.menu-lateral__ul a {
    color: rgba(255, 255, 255, .82);
    text-decoration: none;
    /* outline: 1px solid red; */
    display: block;
    padding: 8px 0 8px 8px;
    font-size: 1.1rem;
    transition: .2s;
    outline: none;
    border: none;
    /* width: 100%; */
}

.menu-lateral__ul .active {
    background-color: #ADE1FF;
    color: #111827;
    font-weight: 500;
    outline: 1px solid #ADE1FF;
    border-radius: 12px 0 0 12px;
    box-shadow: 0 4px 5px 0 rgba(173, 225, 255, .4);
}

.menu-lateral__ul a:hover,
.menu-lateral__ul a:focus-visible {
    background-color: #ADE1FF;
    color: #111827;
    outline: 1px solid #ADE1FF;
    border-radius: 12px 0 0 12px;
    box-shadow: 0 4px 5px 0 rgba(173, 225, 255, .4);
}

.menu-lateral__dropdown {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #1A2D57;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    padding: 0;
    padding: 12px;
    text-align: start;
    cursor: pointer;
}

.form-label {
    margin: 0;
}

.menu-lateral__dropdown .bi-person-circle {
    font-size: 1.4rem;
    color: #fff;
}

.dropdown-toggle {
    padding: 0;
    /* width: 200px; */
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    color: #fff;
}

.dropdown button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.dropdown-menu .dropdown-item {
    color: #0F172A;
}
