<button class="menu-hamburguer" (click)="mostraEscondeSidebar()">
    <img src="assets/img/img_navbar/img_menu_hamburguer.png" alt="">
</button>

<aside class="menu-lateral" [class.menu-lateral__aberto]="mostraSidebar">
    <div class="mt-2">
        <div class="menu-lateral__figure">
            <figure>
                <a routerLink="/competitor/available-cups">
                    <img src="assets/img/img_logo/img_logo.png" alt="logo central copa pistão">
                </a>
            </figure>
        </div>

        <div class="menu-lateral__divisao"></div>

        <div class="menu-lateral__equipe">
            <article class="menu-lateral__article">
                <h3>Painel Admin</h3>
                <p>Gerencie copas, equipes e resultados</p>
            </article>
        </div>

        <div class="menu-lateral__divisao"></div>

        <nav class="menu-lateral__navegacao">
            <ul class="menu-lateral__ul">
                <li>
                    <a [ngClass]="{'active': rotaComecaCom('/admin/cup')}" routerLink="/admin/cups">
                        <i class="bi bi-trophy"></i> Copas
                    </a>
                </li>

                <li>
                    <a routerLinkActive="active" routerLink="/admin/submit-results">
                        <i class="bi bi-clipboard-data"></i> Resultados
                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="menu-lateral__dropdown">
        <label for="" class="form-label"><i class="bi bi-person-circle mb-0 me-1"></i></label>

        <div class="dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
                {{ nomeUsuario }}
            </button>

            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item" (click)="sair()">
                        <i class="bi bi-arrow-left"></i> Sair
                    </button>
                </li>
            </ul>
        </div>
    </div>
</aside>