<div class="container-fluid">
    <div class="container-fluid__header">        
        <h1>Copas Disponíveis</h1>
        <p>Inscrições abertas? Garanta sua vaga na hora</p>
    </div>
    
    <div class="row">
        @for (copa of copas; track copa.id) {
            <div class="col-12 col-md-6 mb-3 col-container">
                <section class="section-cards">
                    <div class="section-cards__borda-topo"></div>
    
                    <figure class="section-cards__figure">
                        <img class="img-fluid"
                            [src]="copa.imagemLogo"
                            alt="logo da copa">
                    </figure>
    
                    <div class="section-cards__dados-copa">
                        <h2>{{ copa.nomeCopa }}</h2>
                        
                        <div class="section-cards__data-status">                        
                            <p>
                                <i class="bi bi-calendar3 me-1"></i>
                                
                                <time datetime="2026/02/10">{{ copa.dataInicio | date:'dd/MM/yyyy' }}</time> a
                                <time datetime="2026/02/12">{{ copa.dataTermino | date:'dd/MM/yyyy' }}</time>
                            </p>
                            
                            <span [ngClass]="copaStatusEstilos[copa.status]">{{ copaStatusNomes[copa.status] }}</span>
                        </div>
                    </div>
    
                    <div class="section-cards__divisor"></div>
    
                    <ul class="section-cards__ul">
                        <li>
                            Pré-requisito: <span>Mínimo de {{ copa.preRequisito.minimoParticipantes }} integrantes</span>
                        </li>
    
                        <li>
                            Pontuação Mínima: <span>{{ copa.preRequisito.pontuacaoMinima }} pts</span>
                        </li>
                    </ul>
    
                    <div class="section-cards__buttons">
                        <button class="btn section-cards__btn-inscrever" (click)="fazerInscricao()" [disabled]="copa.status !== 'inscricoesAbertas'">
                            <i class="bi bi-flag"></i> Inscrever
                        </button>

                        <button routerLink="/competitor/available-cups/a" class="btn section-cards__btn-detalhes">
                            <i class="bi bi-eye"></i> Detalhes
                        </button>
                    </div>
                </section>
            </div>
        }

        <!-- <div class="col-12 col-md-6 mb-3 col-container">
            <section class="section-cards">
                <div class="section-cards__borda-topo"></div>

                <figure class="section-cards__figure">
                    <img class="img-fluid"
                        src="assets/img/user/competitor/available_cups/img_copas_disponiveis_desert_dash.png"
                        alt="logo da copa">
                </figure>

                <div class="section-cards__dados-copa">
                    <h2>Copa Desert Dash</h2>
                    
                    <div class="section-cards__data-status">                        
                        <p>
                            <i class="bi bi-calendar3 me-1"></i>
                            <time datetime="2026/04/13">13/04/2026</time> a <time datetime="2026/04/15">15/04/2026</time>
                        </p>
                        
                        <span class="section-cards__span-andamento">Em Andamento</span>
                    </div>
                </div>

                <div class="section-cards__divisor"></div>

                <ul class="section-cards__ul">
                    <li>
                        Pré-requisito: <span>Mínimo de 2 integrantes</span>
                    </li>

                    <li>
                        Pontuação Mínima: <span>0 pts</span>
                    </li>
                </ul>

                <div class="section-cards__buttons">
                    <button class="btn section-cards__btn-inscrever"><i class="bi bi-flag"></i> Inscrever</button>
                    <button routerLink="/competitor/available-cups/a" class="btn section-cards__btn-detalhes"><i class="bi bi-eye"></i> Detalhes</button>
                </div>
            </section>
        </div>

        <div class="col-12 col-md-6 mb-3 col-container">
            <section class="section-cards">
                <div class="section-cards__borda-topo"></div>

                <figure class="section-cards__figure">
                    <img class="img-fluid"
                        src="assets/img/user/competitor/available_cups/img_copas_disponiveis_night_run.png"
                        alt="logo da copa">
                </figure>

                <div class="section-cards__dados-copa">
                    <h2>Copa Night Run</h2>
                    
                    <div class="section-cards__data-status">                        
                        <p>
                            <i class="bi bi-calendar3 me-1"></i>
                            <time datetime="2026/05/15">15/05/2026</time> a <time datetime="2026/05/22">22/05/2026</time>
                        </p>
                        
                        <span class="section-cards__span-encerradas">Inscrições Encerradas</span>
                    </div>
                </div>

                <div class="section-cards__divisor"></div>

                <ul class="section-cards__ul">
                    <li>
                        Pré-requisito: <span>Mínimo de 3 integrantes</span>
                    </li>

                    <li>
                        Pontuação Mínima: <span>100 pts</span>
                    </li>
                </ul>

                <div class="section-cards__buttons">
                    <button class="btn section-cards__btn-inscrever"><i class="bi bi-flag"></i> Inscrever</button>
                    <button routerLink="/competitor/available-cups/a" class="btn section-cards__btn-detalhes"><i class="bi bi-eye"></i> Detalhes</button>
                </div>
            </section>
        </div>

        <div class="col-12 col-md-6 mb-3 col-container">
            <section class="section-cards">
                <div class="section-cards__borda-topo"></div>

                <figure class="section-cards__figure">
                    <img class="img-fluid"
                        src="assets/img/user/competitor/available_cups/img_copas_disponiveis_grand_prix.png"
                        alt="logo da copa">
                </figure>

                <div class="section-cards__dados-copa">
                    <h2>Copa Grand Prix</h2>
                    
                    <div class="section-cards__data-status">                        
                        <p>
                            <i class="bi bi-calendar3 me-1"></i>
                            <time datetime="2026/06/10">10/06/2026</time> a <time datetime="2026/06/15">15/06/2026</time>
                        </p>
                        
                        <span class="section-cards__span-finalizadas">Copa Finalizada</span>
                    </div>
                </div>

                <div class="section-cards__divisor"></div>

                <ul class="section-cards__ul">
                    <li>
                        Pré-requisito: <span>Mínimo de 3 integrantes</span>
                    </li>

                    <li>
                        Pontuação Mínima: <span>150 pts</span>
                    </li>
                </ul>

                <div class="section-cards__buttons">
                    <button class="btn section-cards__btn-inscrever"><i class="bi bi-flag"></i> Inscrever</button>
                    <button routerLink="/competitor/available-cups/a" class="btn section-cards__btn-detalhes"><i class="bi bi-eye"></i> Detalhes</button>
                </div>
            </section>
        </div> -->
    </div>

</div>