<div class="container-fluid">
    <div class="container-fluid__header">
        <a routerLink="/competitor/my-team"><i class="bi bi-arrow-left"></i> Voltar</a>

        <h1>Editar Equipe</h1>

        <div class="container-fluid__data-status">
            <p>
                Mantenha sua equipe pronta: mantenha sempre as informações de sua equipe atualizadas
            </p>

            <!-- <span class="section-cards__span-abertas">Inscrições Abertas</span> -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <section class="section-form ">
                <div class="section-form__borda-topo mb-3"></div>

                <h2>Atualizar Equipe</h2>
                <p>Mantenha as informações de sua equipe atualizadas</p>

                <form [formGroup]="formEdit" class="form-atualizar">
                    <div class="section-form__etapa mt-4 mb-3">
                        <span>1ª Etapa</span>
                        <p>Dados da Equipe</p>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5 mb-3 mb-md-0">
                            <label for="nomeEquipe" class="form-label">Nome da Equipe*</label>
                            <input type="text" class="form-control" id="nomeEquipe" formControlName="nomeEquipe">

                            @if (nomeEquieVazio) {
                                <p class="text-danger mt-2 mb-0">Campo obrigatório</p>
                            }
                        </div>

                        <div class="col-12 col-md-3 mb-3 mb-md-0">
                            <label for="categoria" class="form-label">Categoria*</label>
                            <select class="form-select" formControlName="categoria" id="categoria"
                                aria-label="Default select example">
                                <!-- <option selected disabled hidden>Selecione...</option> -->
                                <option [ngValue]="equipeCategoria.Rua">Rua</option>
                                <option [ngValue]="equipeCategoria.Rally">Rally</option>
                                <option [ngValue]="equipeCategoria.Pista">Pista</option>
                            </select>
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="qtdeIntegrantes" class="form-label">Qtde de Integrantes</label>
                            <input type="number" class="form-control" id="qtdeIntegrantes"
                                formControlName="qtdeIntegrantes" placeholder="Ex: 2" min="2">
                        </div>
                    </div>

                    <div class="section-form__adicionar-participante mt-4 mb-3">
                        <div class="section-form__etapa">
                            <span>2ª Etapa</span>
                            <p>Participantes</p>
                        </div>

                        <button class="btn-adicionar-participante" (click)="adicionarParticipante()">
                            <i class="bi bi-plus-circle"></i> Adicionar Participante
                        </button>
                    </div>

                    <div formArrayName="integrantes">                        
                        @for (integrante of integrantes.controls; track integrante; let i = $index) {
                            <div class="row" [formGroupName]="i">
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <label [for]="'nomeIntegrante-' + i" class="form-label">Participante #{{ i + 1 }}</label>
    
                                    <button class="btn-trash" type="button" (click)="excluirParticipante(i)"
                                        [disabled]="integrantes.controls.length <= 3">                                        
                                        <i class="bi bi-trash ms-2"></i>
                                    </button>
    
                                    <input type="text" class="form-control" [id]="'nomeIntegrante' + i" formControlName="nomeIntegrante"
                                        placeholder="Ex: Catchau do relâmpago">

                                    @if (integranteCopia(i, 'nomeIntegrante')?.hasError('required')) {
                                        <p class="text-danger mt-2 mb-0">Campo obrigatório</p>
                                    }
                                </div>
                                
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <label [for]="'funcao' + i" class="form-label">Função</label>
                                    
                                    <input type="text" class="form-control" [id]="'funcao' + i" formControlName="funcao"
                                    placeholder="Ex: Mecânico">
                                    
                                    @if (integranteCopia(i, 'funcao')?.hasError('required')) {  
                                        <p class="text-danger mt-2 mb-0">Campo obrigatório</p>
                                    }
                                </div>
    
                                <div class="col-12 col-md-4 mb-3">
                                    <label [for]="'status' + i" class="form-label">Status*</label>
    
                                    <select class="form-select" formControlName="status" [id]="'status' + i"
                                        aria-label="Default select example">
                                        <option disabled hidden>Selecione...</option>
                                        <option value="ativo">Ativo</option>
                                        <option value="inativo">Inativo</option>
                                    </select>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="btn-atualizar">
                        <button class="btn mt-4 mb-2" [disabled]="!temMudanca || formEdit.invalid" (click)="atualizarEquipe()">
                            <i class="bi bi-check2-circle"></i> Atualizar
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </div>

</div>