<div class="container-fluid">
    <div class="container-fluid__header">
        <h1>Minha Equipe</h1>
        <p>Mantenha sua equipe pronta: mantenha sempre as informações de sua equipe atualizadas</p>

        <div class="container-fluid__buttons mb-3 mb-md-2">
            <button class="btn container-fluid__button-editar" routerLink="/competitor/my-team-edit">
                <i class="bi bi-pencil"></i> Editar
            </button>
            
            @if (equipe.status === 'ativo') {
                <button class="btn container-fluid__button-desativar" (click)="desativarEquipe()">
                    <i class="bi bi-ban"></i> Desativar
                </button>
            }
            
            @else {
                <button class="btn container-fluid__button-ativar" (click)="ativarEquipe()">
                    <i class="bi bi-ban"></i> Ativar
                </button>
            }

        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xxl-6 mb-3">
            <section class="section-cards">
                <div class="section-cards__borda-topo"></div>

                <!-- Section cards dados copa -->
                <div class="section-cards__dados-equipe">
                    <h2 class="mt-2">{{ equipe.nomeEquipe }}</h2>

                    <h3 class="section-cards__dados-equipe-h3 mt-2">Dados</h3>

                    <!-- Section visão rápida article -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <article class="section-visao__article mb-3">
                                <h3>Participantes</h3>
                                <p>{{ equipe.qtdeIntegrantes }}</p>
                            </article>
                        </div>

                        <div class="col-12 col-md-4">
                            <article class="section-visao__article mb-3">
                                <h3>Pontuação Total</h3>
                                <p>{{ equipe.pontuacaoTotal }}</p>
                            </article>
                        </div>

                        <div class="col-12 col-md-4">
                            <article class="section-visao__article mb-3">
                                <h3>Inscrições Ativas</h3>
                                <p>{{ inscricoesAtivas }}</p>
                            </article>
                        </div>
                    </div>

                    <h3 class="section-cards__dados-equipe-h3 mt-2 mb-2">Participantes</h3>

                    <!-- <p>
                        Pontuação fixa e transparente. A tabela abaixo mostra quantos pontos cada colocação vale nesta
                        copa.
                    </p> -->

                    <!-- Tabela -->
                    <table class="table">
                        <thead class="table__thead align-middle text-center">
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Função</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>

                        <tbody class="table__body align-middle text-center">
                            @for (integrante of equipe.integrantes; track integrante.id) {
                                <tr>
                                    <td>{{ integrante.nome }}</td>
                                    <td>{{ integrante.funcao }}</td>
                                    <td>
                                        <span [ngClass]="instegrantesStatusEstilos[integrante.status]">
                                            @if (integrante.status === 'ativo') {
                                            <i class="bi bi-check-circle"></i> {{ integrante.status }}
                                            }

                                            @else {
                                            <i class="bi bi-ban"></i> {{ integrante.status }}
                                            }

                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </section>
        </div>

        <div class="col-12 col-xxl-6 mb-3">
            <section class="section-cards">
                <div class="section-cards__borda-topo"></div>

                <!-- Section cards matrícula -->
                <div>

                    <h2 class="mt-2">Inscrições Ativas</h2>

                    @for (inscricao of equipe.inscricoes; track inscricao.id) {
                        <article class="section-cards__article mt-3 ">
                            <div class="section-cards__inscricoes mb-3">
                                <h3>{{ inscricao.nomeCopa }}</h3>

                                <span [ngClass]="inscricao.status !== 'copaFinalizada' ? 'section-cards__span-ativo' : 'section-cards__span-encerrado'">
                                    @if (inscricao.status !== "copaFinalizada") {
                                        <i class="bi bi-check-circle"></i> Ativo
                                    }

                                    @else {
                                        <i class="bi bi-exclamation-circle"></i> Encerrado
                                    }

                                </span>
                            </div>

                            <div class="section-cards__inscricoes">
                                <p class="mb-2 mb-md-0">
                                    <i class="bi bi-calendar3 me-2"></i>
                                    <time>{{ inscricao.dataInicio | date: 'dd/MM/yyyy' }}</time> a
                                    <time>{{ inscricao.dataTermino | date: 'dd/MM/yyyy' }}</time>
                                </p>

                                <div class="section-cards__buttom">
                                    <button 
                                    class="btn section-cards__btn-cancelar-inscricao" 
                                    [disabled]="inscricao.status === 'emAndamento' || 
                                    inscricao.status === 'copaFinalizada'" 
                                    (click)="cancelarInscricao(inscricao.id)">
                                        <i class="bi bi-slash-circle"></i> Cancelar Inscrição
                                    </button>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </section>
        </div>
    </div>

</div>